# Introduction to the Python programming language

Thomas Thivillon

2025-09-22 

# 1. Introduction

This chapter provides an introduction to `Python` programming in the `JupyterLab` interactive development environment (IDE). This notebook was prepared for `Python` version 3.x.

<div class="callout callout-tip">
  <div class="callout-header">
    <div class="callout-icon"></div>
    Contents covered in this chapter:
  </div>
  <div class="callout-body">
    <ul>
      <li>Types of data in Python</li>
      <li>Structures</li>
      <li>Operators and conditions</li>
      <li>Loops and functions</li>
    </ul>
  </div>
</div>


## 1.1 JupyterLab and Jupyter Notebook

`Jupyter Notebook` is a web-based application for creating and sharing computational documents that contain code and text (as well as equations and graphs). It can be used with R, Julia, and other languages in addition to Python. 

`JupyterLab` is an interactive development environment designed as a multi-document interface. It allows users to work with several notebooks and with an integrated terminal in the same interface. In this course we will work with `JupyterLab` because it is supported by `SSP Cloud.

### 1.1.1 Notebooks

You are currently in a notebook that I have created. You can open a new `cell` by typing `alt` + `Enter`. Try it out now: click on the current cell and type `alt` + `Enter`.

Once the cell is created you can type `ctrl` + `enter` to execute it. Try it out now. Then type `D` twice to delete the cell.

### 1.1.2 Evaluation of an instruction

Now let's open a new cell again below the current one and write the following instruction:

`2 + 1`

Once again to submit/execute the instruction, the fastest way is the keyboard shortcut: `ctrl` + `Enter`. Try it now.

### 1.1.3 Using Markdown cells to comment your code

When you first create a new cell, it is defined as a code cell. You can switch to a `Markdown` cell by typing `esc` and then `M` on your keyboard when you are in the cell. To switch back to code mode type `esc` &rarr; `Y`.

`Markdown` is a simple programming language for creating formatted text using a plain-text editor. All the text cells in this notebook contain Markdown code. Visit the [Markdown Guide](https://www.markdownguide.org/) for a detailed presentation of the `Markdown` syntax.

As a quick Markdown exercise, create a new cell below this one using the keyboard shortcut you have learned before and switch to `Markdown` mode. Type a short sentence in the cell and put the last word of the sentence between two double stars (**). What do you notice?

## 1.2 Variables

### 1.2.1 Using variables

When we want Python to store a result in memory, we need to assign it to a *variable*. To create a variable, we use the equality sign (=) and assign the result (or any object) to the variable name using the following syntax: `variable_name = object`.

We can display the content of a variable using the function `print()`:

`print(variable_name)`

Or simply by typing the variable name:

In [ ]:
x = 7
print(x)
x

Change the value of the variable with a new assignment:

In [ ]:
x = 8
x

In [ ]:
x = "Madagascar"
x

It is possible to create copies of a variable. The original variable will not be affected when changes are made to the copy:

In [ ]:
y = x
y

In [ ]:
y = "Antananarivo"
print(y)
print(x)

A variable can be deleted with the instruction `del`:

In [ ]:
del y 
y

Variables can be incremented with the special operators `+=` and `*=` :

In [ ]:
x = 0
x += 1
print(x)
x += 1
print(x)

In [ ]:
y = 1
y *= 3
print(y)
y *= 3
print(y)

### 1.2.2 Variable naming conventions

As in most data science and statistics softwares: 

- Names of variables can only be composed of alphanumeric characters and the underscore (_).
- Variable names cannot start with a numeric character.
- It is prohibited to include spaces in variable names.

In addition, to increase readability, it is recommended to only use lower case letters and to separate words by an underscore in variable names (i.e: use  `variable_name` and not `variablename` or `Variable_Name`).


## 1.3 Modules and packages

Most of the functions that you will use in `Python` are not available by default and you will need to load a `module` to use them. Modules are usually available within `packages`. The following three packages are usually the starting point for most data science work: 

- [NumPy](https://numpy.org/): for scientific computing.
- [pandas](https://pandas.pydata.org/): for data analysis and manipulation.
- [Matplotlib](https://matplotlib.org/): to create graphics.

Use the function `import` to load a `package`. Ex:

In [ ]:
import pandas

Because different functions included in separate modules or packages can share the same name, it is good practice to give an `alias` to the packages that you load:

In [ ]:
import numpy as np
import statistics as st

data = [1, 2, 3, 4, 5]

# mean de numpy
print(np.mean(data))

# mean de statistics
print(st.mean(data))

You can also import a single function from a package as in this example:

In [ ]:
import matplotlib.pyplot as plt

x = np.arange(0, 10, 0.5)
y = np.exp(x)
plt.plot(x,y)

## 1.4 Help and documentation

Type:
- `?` to get an overview of `Python`'s main features.
- `help()` to access the `Python` help system.
- `object?` to get details about `object`.
- `object??` to get more details about `object`.


# 2. Types of data

The main types of data that you will encounter in Python include:

- numerical values.
- strings.
- booleans.
- empty objects.


## 2.1 Numerical values

The two types of numerical objects that we will use in this course are: 

- integers (`int`).
- floating point numbers (`float`).

Use the `type()` function to print the type of a `Python` object:

In [ ]:
x = 2
y = 3.25

print(type(x))
print(type(y))

You can use the `float` and `int` functions to convert objects from one type to the other (caution: `int` conversion truncates decimals):

In [ ]:
print(float(x))
print(int(y))

**Arithmetic operations:**

In [ ]:
#Addition
1 + 1

In [ ]:
#Subtraction
1-1

In [ ]:
#Multiplication
2 * 2

In [ ]:
#Division
4 / 2

In [ ]:
#Power
2 ** 2

In [ ]:
#Square root
4 ** 0.5

## 2.2 Strings

A string is a collection of [Unicode](https://en.wikipedia.org/wiki/Unicode) characters such as letters, numbers, punctuation marks, etc.

Strings are defined with single or double quotation marks:

In [ ]:
x = "Madagascar"
print(x)
print(type(x))

In [ ]:
#This also works:
y = 'it works'

#This doesn't work:
z = 'I'm a genius'

print(y)
print(z)

Use the `len` function to count the number of characters in a string:

In [ ]:
len(x)

Strings can be concatenated...

In [ ]:
"This is" + " " + "fun"

... and repeated:

In [ ]:
"fun " * 3 + "... !"

Each character in a string has an index corresponding to its order in the string sequence. We can use the index to extract specific characters from a string. **Important: indexing starts at 0 in Python**

In [ ]:
#Extract 1st element of the sequence
"This is still fun !"[0]

In [ ]:
#Extract 2nd element of the sequence
"This is still fun !"[1]

In [ ]:
#Extract last element of the sequence
"This is still fun !"[-1]

In [ ]:
#Extract everything from a certain character
"This is still fun !"[8:]

In [ ]:
#Extract everything up to a certain character
"This is still fun !"[:7]

In [ ]:
#Extract a substring
"This is still fun !"[14:17]

In [ ]:
#Extract every other element of the sequence
"This is still fun !"[0::2]

In [ ]:
#Extract every three element of the sequence starting from the second and finishing at the 17th
"This is still fun !"[1:17:2]

In [ ]:
#Reverse a sequence
"This is still fun !"[::-1]

The general syntax is `x[a:b:c]` where `a` is the position of the starting character, `b` the position of the ending character, and `c` the indexing step (remember: **indexing starts at 0**).

## 2.3 Booleans

`Booleans` are logical data which take either the value `True` or `False`. Caution: case is important for the data to be recognized as boolean.

In [ ]:
x = True
y = False
print(x, y)

`Python` will automatically convert `boolean` data to 1 (for `True`) and 0 (for `False`):

In [ ]:
boo = True + False + True + False + True
print(boo)

## 2.4 Empty objects

Empty objects take the value `None` and have the class `NoneType`:

In [ ]:
x = None
print(type(x))

One can test if an object is empty with the following approach:

In [ ]:
print(x is None)

## 2.5 Exercises

### Displaying basic types

Display the type of x when:

-   x = 3
-   x = “test”
-   x = 3.5

In [112]:
# Type your answer in this cell

### String lengths

Calculate the sum of the lengths of the following three strings:

-   “a first string”
-   “and a second”
-   “never two without three”

In [113]:
# Type your answer in this cell

### Counting letters

Count the number of times the letter e appears in the following string:
“I am counting the e’s.”

**Hint**: you can use the built-in method
[count](https://docs.python.org/3/library/stdtypes.html#str.count).

In [114]:
# Type your answer in this cell

### Detecting letters

Find the first position where the letter e appears in the following
string: “I am counting the e’s.”

**Hint**: you can use the built-in method
[find](https://docs.python.org/3/library/stdtypes.html#str.find).

In [115]:
# Type your answer in this cell

### Removing spaces in a string

Remove the extra spaces at the beginning and end of the following
string:

**Hint**: you can use the built-in method
[strip](https://docs.python.org/3/library/stdtypes.html#str.strip).

In [ ]:
# Type your answer in this cell

### Escaping characters

The `\` character allows escaping (neutralizing) a special character
within a string. Find how this character solves the problem of using
quotes (or apostrophes) within a string defined by quotes (apostrophes).

**Hint**: examples of usage are available in the [official
documentation](https://docs.python.org/3/reference/lexical_analysis.html#literals).

In [116]:
# Type your answer in this cell

### A first algorithm

Perform the following sequence of operations using increment operators,
and print the final value:

-   initialize a variable to 1
-   subtract 5 from it
-   multiply it by 4
-   add 22 to it

In [ ]:
# Type your answer in this cell

# 3. Structures 

The main types of structures in `Python` are:

- lists,
- tuples,
- sets,
- and dictionaries.

Data structures can be seen as containers because they allow you to store, organize, and access data. 

Lists and tuples are **sequential containers**: the elements they contain are **ordered**, and their position is recorded in an **index**.

Dictionaries and sets are **unordered data structures**: objects are no longer stored by position (or index) but by **key**, which is a unique identifier.

## 3.1 Lists

`Lists` are one of the most flexible structures in Python. A `list` is a grouping of values.
The creation of a list is done by writing the values by separating them with a comma
and surrounding them by square brackets ([ and ]). You can store both numerical values and strings in lists.

Ask python to join together the numbers 3, 4, and 5, and to save them as a list named `x`. Then, display the content of `x`:

Copying a list: Be **careful**, copying a list in Python is achieved by using the `list()` function not by using the equal sign:

In [ ]:
y=x
y[0] = 0
print(y)
print(x)

In [ ]:
x = [3, 4, 5]
y = list(x)
y[0] = 0
print("x : ", x)
print("y : ", y)

## 3.2 Tuples

`Tuples` are sequences of Python objects. To create a tuple, one lists the values, separated by commas. Unlike lists, **tuples are inalterable** (i.e. cannot be modified after they have been created).

In [ ]:
x = 1, 4, 9, 16, 25
print(x)

In [ ]:
x[0] = 1

## 3.3 Sets

`Sets` are unordered collections of unique elements. Sets are unalterable. Unlike tuples, sets are not
indexed:

In [ ]:
new_set = {"Bordeaux", "Aix-en-Provence", "Nice", "Rennes"}
print(new_set)

Sets are not very often used in practice, but they are quite useful in
certain specific situations. Due to the uniqueness of the elements they
contain, sets allow you to simply and effectively remove duplicates from
a sequential container, such as a list.

**Deduplication**

Suppose you want to remove duplicates from a given list. By definition,
converting a list to a set removes duplicates. However, you generally
want to return to a list, as sets do not offer the same flexibility as
lists (for example, the ability to find an element by position). It is
therefore common to perform the `list -> set -> list` chain of
operations to deduplicate a list.

In [ ]:
l = [1, 2, 3, 3, 2, 1]
l_dedup = list(set(l))
l_dedup

**Set Operations**

Since sets programmatically represent mathematical sets, it is not
surprising that they allow for elementary set operations. For example,
union and intersection.

In [ ]:
l1 = [5, 3, 2, 3, 3, 5, 8, 9]
l2 = [3, 7, 0, 0, 1, 9, 4, 6]

# Union: elements in l1, l2, or both
l_union = list(set(l1) | set(l2))
print(l_union)

# Intersection: elements in both l1 and l2
l_inter = list(set(l1) & set(l2))
print(l_inter)

**Membership Tests**

Sets are also very useful for membership tests, as they offer much
better performance than lists for this type of test.

The concept of testing will be covered in a future tutorial. For now,
let’s note that a membership test such as “is element `a` in list `l`”
is written in Python as `a in l` and returns `True` or `False` depending
on whether `a` is actually present in list `l`.

In [ ]:
l = [1, 2, 3]
2 in l

In [ ]:
4 in l

## 3.4 Dictionaries

Python `dictionaries` are an implementation of `key-value objects`, the keys being
indexed. Keys are often text, values can be of different types and structures. To create a dictionary, you can proceed by using braces ({}):

In [ ]:
my_dict = { "nom": "Kyrie",
"prenom": "John",
"naissance": 1992,
"equipes": ["Cleveland", "Boston"]}
print(my_dict)

In [ ]:
print(my_dict["equipes"])

In [ ]:
my_dict["equipes"] = ["Montclair Kimberley Academy",
"Cleveland Cavaliers", "Boston Celtics"]
print(my_dict)

The `.keys()`, `.values()`, and `.items()` methods return the keys,
values, and key-value pairs of a dictionary, respectively. The objects
returned by these methods are a bit complex, but they can be converted
to lists using the `list` function to query them by position:

In [ ]:
list(my_dict.keys())

In [ ]:
list(my_dict.values())

In [ ]:
list(my_dict.items())

## 3.5 Exercises

### Doing Scales

By adding, deleting, and modifying elements, clean up the following list
so that it contains the musical notes “do re mi fa sol la si” in the
correct order.

`l = ["do", "re", "re", "re", "fa", "sol", "solsi", "la"]`

Hint: use the list's `index`, the `del` function and the [append](https://mimo.org/glossary/python/append()) function.

In [117]:
#Type your answer in this cell

### Min and Max of Different Lists

Verify the behavior of the `min` and `max` functions:

-   on a list composed solely of numeric objects (`int` and `float`);
-   on a list composed solely of strings;
-   on a list composed of a mix of numeric and textual objects.

In [ ]:
#Type your answer in this cell

### Empty List

Try creating an empty list. Verify its type. What could be the use of
such an object?

In [119]:
#Type your answer in this cell

### The `list` and `tuple` functions

The `list` and `tuple` functions allow
converting from one type to the other: the code `list(my_object)` returns the
“list version” of that object.

- Create the tuple `a = (1, 2, 3)` and convert it to a list using the `list` function.

- Then, create the string `b = "hello"` and convert it to a list using the `list` function.

In [120]:
#Type your answer in this cell

### Querying a Dictionary

Given the dictionary defined in the cell below.

Display using `print` operations:

-   the list of class names
-   Miranda’s history grade
-   the list of grades obtained by Hypolyte
-   the list of student names in 6emeB
-   the list of subjects taught in 6emeA
-   the list of all subjects taught
-   the list of grades obtained by girls in both classes

In [129]:
results = {
    "6emeA": {"Miranda" : {"grades": {"physics": 16, "history": 12}},
              "Celestin": {"grades": {"physics": "absent", "history": 18}}
             },
    "6emeB": {"Hypolyte": {"grades": {"math": 11, "english": 0}},
              "Josephine": {"grades": {"math": 16, "english": 20}}
             }
}

In [170]:
#Type your answer here

### Deduplication

Given the following string with repetitions:

`x = "cdabcdabcdabcdabcdabcdabcdabcdabcdab"`

Construct a list of unique characters in this string, sorted
alphabetically, i.e.:

`l = ['a', 'b', 'c', 'd']`

Hint: the procedure is similar to removing duplicates from a list.

In [175]:
#Type your asnwer here

### Intersections and Unions of Strings

Given the following two strings:

`cyrano1 = 'C’est un roc ! … c’est un pic ! … c’est un cap !'`

`cyrano2 = 'Que dis-je, c’est un cap ? … C’est une péninsule !'`

Question 1: find the characters that appear in both strings.

Question 2: find the characters that appear in at least one of the two
texts.

In [179]:
#Type your asnwer here

In [104]:
from IPython.display import HTML, display

display(HTML("""
<style>
/* cible le HTML rendu par JupyterLab et force l'application */
.jp-RenderedHTMLCommon .callout.callout-tip {
  border-left: 6px solid #2ecc71 !important;
  background-color: #ecfdf5 !important;
  border-radius: 6px !important;
  padding: 0.8em 1em !important;
  margin: 1em 0 !important;
  font-family: sans-serif !important;
}

/* en-tête */
.jp-RenderedHTMLCommon .callout-header {
  display: flex !important;
  align-items: center !important;
  font-weight: 700 !important;
  color: #065f46 !important;
  margin-bottom: 0.5em !important;
}

/* icône (pseudo-élément) */
.jp-RenderedHTMLCommon .callout-icon::before {
  content: "💡" !important;
  margin-right: 0.5em !important;
  font-size: 1.2em !important;
}

/* corps : listes */
.jp-RenderedHTMLCommon .callout-body ul {
  margin: 0 0 0 1.25em !important;
  padding: 0 !important;
}
</style>
"""))